 {% block stylesheets %}{{encore_entry_link_tags('cardNewsStyle')}}{% endblock %}
 
  <a href="{{path('news_show', {'slug': actu.slug})}}" class="card_actus p-5 flex flex-col gap-5 justify-between col-span-1 ">
    {#Cover actu#}
    <div class="card_actus_cover w-full">
        <img src="/uploads/{{actu.cover}}" alt="Image de l'actualité" class="w-full h-[200px] object-cover">
    </div>
    {#Contenu de la carte#}
    <div class="flex flex-col gap-2">
        <div class="card_actus_content flex flex-col gap-5">
            <div class="card_actus_content_stats w-full justify-between flex ">
                {% if actu.comments|length > 0 %}
                    {% include "partials/rating.html.twig" with {'rating': actu.getAvgRatings()} %} 
                {% endif %}
                
                    <p class="text-lg object color-tertiary uppercase flex gap-2">
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                    {{actu.viewsCount}}</p>
            
            </div>
        </div>
        <div class="card_actus_content_title">
            <p class="text-xl urbanist font-semibold">
                {{actu.title}}
            </p>
        </div>
    
    </div>
    {#info sur l'auteur de la carte#}
    <div class="card_actus_content_author flex items-center gap-2">
        {% if actu.author.avatar %}
            <img src="/uploads/{{actu.author.avatar}}" alt="Avatar de {{actu.author.fullName}}" class="w-[40px] h-[40px] object-cover rounded-full">
            {% else %}
            <img src="http://placehold.it/64x64" class="w-[40px] h-[40px] object-cover rounded-full" alt="Avatar de {{actu.author.fullName}}">
        
        {% endif %}
        <div class="flex flex-col gap-2">
            <p class="text-sm urbanist font-semibold">{{actu.author.fullName}}</p>
            <p class="text-xs urbanist color-tertiary">{{actu.createdAt |date('d F Y', 'Europe/Paris')|format_datetime(pattern="d MMMM yyyy", locale='fr')}}</p>
        
        </div>
    </div>
    


    </a>

