  {% block stylesheets %}
    {{encore_entry_link_tags('cardReviewsStyle')}}
  {% endblock %}
  
  <div class="cardReviews p-5 flex flex-col gap-5">
    <div class="cardReviews_image w-full min-h-[256px] rounded-3xl">
        <img src="/uploads/{{ review.media.cover }}" alt="Image du film {{review.media.title}}" class=" object-cover">
    </div>
    <div class="cardReviews_infos flex flex-col justify-between gap-5 h-full">
        <div class="cardReviews_infos_high flex flex-col gap-2">
            <div class="title_rating flex justify-between items-center">
                <p class="text-lg urbanist font-semibold color-tertiary">{{review.media.title}}</p>
                {% include "partials/rating.html.twig" with {'rating': review.rating} %}
            </div>
            <div class="cardReviews_infos_review flex flex-col gap-2">
                <p class="cardReviews_infos_review_title text-xl font-semibold color-primary">{{review.title}}</p>
             {% set maxLength = maxLength is defined ? maxLength : 70 %}

            <div class="review-content">
                <p class="cardReviews_infos_review_content text-lg urbanist color-primary">
                    {{ review.content|length > maxLength ? review.content|slice(0, maxLength) ~ '...' : review.content }}
                </p>
            </div>

            </div>
        
        </div>
        <div class="cardReviews_infos_author gap-5 flex justify-between">
            <a href="#" class="flex text-md urbanist font-semibold gap-2 items-center">
                <img src="/uploads/{{review.author.avatar}}" alt="Avatar de {{review.author.fullName}}" class="rounded-full border-2 border-purple-500 w-[40px] h-[40px] object-cover">
                {{review.author.username}}
            </a>
            {% include "partials/_button.html.twig" with {"text":"Voir la review complète", "href":path('reviews_show',{"slug":review.slug}) }%}
        </div>
    </div>

</div>