<footer class="border-t-4 border-[#a051de] w-full py-16 bg-center bg-cover relative flex items-center" style="background-image:url('/images/bgfooter.jpg')">
    <div class="overlay absolute inset-0 bg-black opacity-75"></div>
    <div class="w-[85%] mx-auto relative z-10 max-md:gap-8 flex items-start flex-wrap justify-between">
        <div class=" max-md:w-full lg:w-2/12 flex justify-center flex-col gap-5">
            <h1 class="text-center display-md color-secondary uppercase object relative max-md:after:left-[37%] lg:after:left-[25%] after:absolute after:content-[''] after:block after:w-[100px] after:h-[3px] after:bg-[#a051de] after:mt-2">
                MOVIEREV
            </h1>
            <div class="social_media mt-2 flex gap-2 justify-center">
                <a href="#" class="min-w-[50px] h-[50px] rounded-full transition-all hover:bg-[#a051de] hover:text-white bg-secondary border-[3px] hover:border-[#f5f5f5] border-[#a051de] flex justify-center items-center"><i class="fa-brands fa-instagram" style='font-size:25px'></i></a>
                <a href="#" class="min-w-[50px] h-[50px] rounded-full transition-all hover:bg-[#a051de] hover:text-white bg-secondary border-[3px] hover:border-[#f5f5f5] border-[#a051de] flex justify-center items-center"><svg xmlns="http://www.w3.org/2000/svg" height="25px" class="hover:fill-[#f5f5f5]" viewBox="0 0 512 512"><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg></a>
                <a href="#" class="min-w-[50px] h-[50px] rounded-full transition-all hover:bg-[#a051de] hover:text-white bg-secondary border-[3px] hover:border-[#f5f5f5] border-[#a051de] flex justify-center items-center"><i class="fa-brands fa-tiktok" style='font-size:25px'></i></a>
                <a href="#" class="min-w-[50px] h-[50px] rounded-full transition-all hover:bg-[#a051de] hover:text-white bg-secondary border-[3px] hover:border-[#f5f5f5] border-[#a051de] flex justify-center items-center"><i class="fa-brands fa-facebook" style='font-size:25px'></i></a>
            </div>
        </div>
        <div class=" max-md:w-[45%] lg:w-2/12 flex justify-center flex-col gap-5">
            <h6 class="text-xl color-tertiary uppercase object">
               Présentation
            </h6>
            <div class="links flex gap-2 flex-col justify-center">
                <a href="{{path('home')}}" class=" color-secondary text-lg transition-all hover:text-[#a051de]">Accueil</a>
                <a href="{{path('medias')}}" class=" color-secondary text-lg transition-all hover:text-[#a051de]">Films & Séries</a>
                <a href="{{path('reviews_index')}}" class=" color-secondary text-lg transition-all hover:text-[#a051de]">Reviews</a>
                <a href="{{path('news_index')}}" class=" color-secondary text-lg transition-all hover:text-[#a051de]">Actualités</a>
            </div>
        </div>
        <div class=" max-md:w-[45%] lg:w-2/12 flex justify-center flex-col gap-5">
            <h6 class="text-xl color-tertiary uppercase object">
               A propos
            </h6>
             <div class="links flex gap-2 flex-col justify-center">
                <a href="{{path('about')}}" class=" color-secondary text-lg transition-all hover:text-[#a051de]">Qui sommes-nous</a>
                <a href="{{path('account_register')}}" class=" color-secondary text-lg transition-all hover:text-[#a051de]">S'inscrire</a>
                <a href="{{path('account_login')}}" class=" color-secondary text-lg transition-all hover:text-[#a051de]">Se connecter</a>
                <a href="{{path('legals')}}" class=" color-secondary text-lg transition-all hover:text-[#a051de]">Politique de confidentialité</a>
            </div>

        </div>
        <div class=" max-md:w-full max-md:text-center lg:w-3/12 flex justify-center flex-col gap-5">
            <h6 class="text-xl color-tertiary uppercase object">
               Contactez-nous
            </h6>
             <div class="links flex gap-2 flex-col justify-center">
               <p class="text-lg color-secondary urbanist">Une question ou besoin d'aide ? <a href="{{path('contact')}}" class="font-semibold underline transition-all hover:text-[#a051de]">Contactez-nous ici</a> , nous sommes là pour vous répondre</p>
            </div>

        </div>

        
        
    </div>
</footer>
<div class="w-full py-1 bg-tertiary">
    <div class="w-[85%] mx-auto flex items-center flex-wrap justify-between">
        <div class="links flex flex-wrap items-center gap-2">
            <a href="{{path('home')}}" class="pr-2 font-semibold text-md urbanist border-r border-r-[#f5f5f5] color-secondary">Accueil</a>
            <a href="{{path('about')}}" class="pr-2 font-semibold text-md urbanist border-r border-r-[#f5f5f5] color-secondary">Qui sommes-nous ?</a>
            <a href="{{path('medias')}}" class="pr-2 font-semibold text-md urbanist border-r border-r-[#f5f5f5] color-secondary">Films & Séries</a>
            <a href="{{path('reviews_index')}}" class="pr-2 font-semibold text-md urbanist border-r border-r-[#f5f5f5] color-secondary">Reviews</a>
            <a href="{{path('news_index')}}" class="pr-2 font-semibold text-md urbanist border-r border-r-[#f5f5f5] color-secondary">Actualités</a>
            <a href="{{path('contact')}}" class="pr-2 font-semibold text-md urbanist color-secondary">Contact</a>
        </div>
        <p class="text-md urbanist font-semibold color-secondary">&copy; Dylan Quenon - Copyright TEI 2024</p>
    
    </div>
</div>
