{# templates/base_form_slider.html.twig #}
{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block page_title %}{% endblock %}

{% block stylesheets %}{{encore_entry_link_tags('baseForm')}}{% endblock %}

{% block body %}
    <div class="slide bg-secondary" id="baseform">
        <div class="wrapper py-24 flex w-full justify-center">
            <div class="content_block bg-white  max-sm:w-full max-sm:rounded-bl-[100px] flex-wrap  w-[85%] min-h-[100vh] flex justify-between">
                <div class="left_baseform  max-sm:w-full w-1/2  max-sm:p-5 p-24">
                    <img src="/images/movierevlogo.png" alt="Logo - Movierev" class= "w-[100px] mb-3">
                    {% block form %}
                        {# Le contenu du formulaire sera inséré ici #}
                    {% endblock %}
                
                </div>
                {% set slides = [
                    { 
                        'picture': '/images/sliderquotes/image1.webp', 
                        'quote': '“Soit c’est du génie, soit c’est de la folie. Ce qui est le plus marrant, c’est que le plus souvent, ces deux choses vont ensemble.”', 
                        'author': 'Johnny Depp', 
                        'movie': 'Pirates des Caraïbes'
                    } ,
                    { 
                        'picture': '/images/sliderquotes/image2.jpg', 
                        'quote': '"Bonjour, et au cas où l\'on ne se reverrait pas d\'ici là… bon après-midi, bonne soirée et bonne nuit !"', 
                        'author': 'Jim Carrey', 
                        'movie': 'The Truman Show'
                    },
                    { 
                        'picture': '/images/sliderquotes/image3.png', 
                        'quote': '"Qu\'est ce qu\'on dit au chauffeur?"', 
                        'author': 'Ludovic Boul', 
                        'movie': 'Un p\'tit truc en plus'
                    },
                ] %}
                <div class="slider_baseform max-sm:mt-3 max-sm:w-full w-1/2 min-h-[100vh] relative">
                    <div class="swiper h-full">
                        <div class="swiper-wrapper flex  ">
                            {% for slide in slides %}
                                <div class="swiper-slide relative max-sm:rounded-tl-none" style="background-image:url('{{slide.picture}}')">
                                    <div class="overlay"></div>
                                    <div class="swiper-slide-content flex flex-col h-full gap-10 pb-16 px-6 justify-end">
                                        <p class="display-md urbanist color-secondary">{{slide.quote}}</p>
                                        <div class="info-secondary flex flex-col gap-2">
                                            <p class=" author display-sm max-sm:text-xl urbanist color-secondary">
                                            {{slide.author}}
                                            </p>
                                            <p class="text-md urbanist color-secondary">{{slide.movie}}</p>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                            <div class="controls_slider flex">
                                <div class="controls_slider_arrow arrow_prev_quotes">
                                     <span class="material-symbols-outlined">
                                    arrow_left_alt
                                    </span>
                                </div>
                                <div class="controls_slider_arrow arrow_next_quotes">
                                    <span class="material-symbols-outlined">
                                    arrow_right_alt
                                    </span>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}{{encore_entry_script_tags('sliderLog')}}{% endblock %}


