{# templates/base_form_slider.html.twig #}
{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block page_title %}{% endblock %}

{% block stylesheets %}{{encore_entry_link_tags('baseForm')}}{% endblock %}

{% block body %}
    <div class="slide bg-secondary" id="baseform">
        <div class="wrapper py-24 flex w-full justify-center">
            <div class="content_block bg-white max-md:w-full max-md:rounded-bl-[100px] flex-wrap  w-[85%] min-h-[100vh] flex justify-between">
                <div class="left_baseform  max-lg:w-full w-1/2  max-md:p-5 p-24">
                    <img src="images/movierevLogo.png" alt="Logo - Movierev" class= "w-[100px] mb-3">
                    {% block form %}
                        {# Le contenu du formulaire sera inséré ici #}
                    {% endblock %}
                
                </div>
                {% set slides = [
                    { 
                        'picture': '/images/sliderquotes/image1.webp', 
                        'quote': '“Soit c’est du génie, soit c’est de la folie. Ce qui est le plus marrant, c’est que le plus souvent, ces deux choses vont ensemble.”', 
                        'author': 'Johnny Depp', 
                        'movie': 'Pirates des Caraïbes'
                    } ,
                    { 
                        'picture': '/images/sliderquotes/image2.jpg', 
                        'quote': '"Bonjour, et au cas où l\'on ne se reverrait pas d\'ici là… bon après-midi, bonne soirée et bonne nuit !"', 
                        'author': 'Jim Carrey', 
                        'movie': 'The Truman Show'
                    },
                    { 
                        'picture': '/images/sliderquotes/image3.png', 
                        'quote': '"Qu\'est ce qu\'on dit au chauffeur?"', 
                        'author': 'Ludovic Boul', 
                        'movie': 'Un p\'tit truc en plus'
                    },
                    { 
                        'picture': '/images/sliderquotes/image4.jpg', 
                        'quote': '“Nous ne lisons et n\'écrivons pas de poésie parce que c\'est mignon. Nous lisons et écrivons de la poésie parce que nous faisons partie de la race humaine ”', 
                        'author': 'Robin Williams', 
                        'movie': 'Le cercle des poètes disparus'
                    },
                    { 
                        'picture': '/images/sliderquotes/image5.webp', 
                        'quote': '“Je suis le Comte de Monte-Cristo ”', 
                        'author': 'Pierre Niney', 
                        'movie': 'Le Comte de Monte-Cristo'
                    },
                    { 
                        'picture': '/images/sliderquotes/image6.jpg', 
                        'quote': '“Aujourd’hui j’ai joué devant 80 000 personnes, mais je ne me suis jamais senti aussi seul ”', 
                        'author': 'Nekfeu', 
                        'movie': 'Les étoiles vagabondes'
                    },
                    { 
                        'picture': '/images/sliderquotes/image7.jpg', 
                        'quote': '“Je ne suis pas chanceux. Je provoque ma propre chance. ”', 
                        'author': 'Gabriel Macht', 
                        'movie': 'Suits'
                    },
                    { 
                        'picture': '/images/sliderquotes/image8.jpg', 
                        'quote': '“C\'est la vie, pas le paradis. Tu n\'as pas besoin d\'être parfait. ”', 
                        'author': 'Angelina Jolie', 
                        'movie': 'Gia'
                    },
                    { 
                        'picture': '/images/sliderquotes/image9.webp', 
                        'quote': '“- Ne me dis pas qu\'on a perdu un moteur. <br> - Ok je ne te le dis pas. ”', 
                        'author': 'Tom Cruise', 
                        'movie': 'Top gun : Maverick'
                    },
                    { 
                        'picture': '/images/sliderquotes/image10.webp', 
                        'quote': '“ Pour ceux qui font les règles, il n\'y a pas de règles ”', 
                        'author': 'Cillian Murphy', 
                        'movie': 'Peaky Blinders'
                    },
                ] %}
                <div class="slider_baseform max-md:mt-3 max-lg:w-full w-1/2 min-h-[100vh] relative">
                    <div class="swiper h-full">
                        <div class="swiper-wrapper flex  ">
                            {% for slide in slides %}
                                <div class="swiper-slide relative max-sm:rounded-tl-none" style="background-image:url('{{slide.picture}}')">
                                    <div class="overlay"></div>
                                    <div class="swiper-slide-content flex flex-col h-full gap-10 pb-16 px-6 justify-end">
                                        <p class="display-md urbanist color-secondary">{{slide.quote|raw|nl2br}}</p>
                                        <div class="info-secondary flex flex-col gap-2">
                                            <p class=" author display-sm max-md:text-xl urbanist color-secondary">
                                            {{slide.author}}
                                            </p>
                                            <p class="text-md urbanist color-secondary">{{slide.movie}}</p>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                            <div class="controls_slider flex">
                                <div class="controls_slider_arrow arrow_prev_quotes">
                                     <span class="material-symbols-outlined">
                                    arrow_left_alt
                                    </span>
                                </div>
                                <div class="controls_slider_arrow arrow_next_quotes">
                                    <span class="material-symbols-outlined">
                                    arrow_right_alt
                                    </span>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}{{encore_entry_script_tags('sliderLog')}}{% endblock %}


