{% extends 'base.html.twig' %}

{% block title %}{{actor.fullName}}{% endblock %}

{% block body %}
<div class="slide bg-secondary" id="actor">
    <div class="wrapper py-24 flex gap-5 justify-between flex-wrap">
            <h4 class="display-md object uppercase">{{actor.firstName}} <span class="color-tertiary">{{actor.name}}</span></h4>
            <div class="flex flex-wrap gap-8 items-center w-full">
                <img src="/uploads/{{actor.picture}}" class="max-md:w-full lg:w-[45%] rounded-3xl" alt="Image de {{actor.fullName}}">
                <div class="flex flex-col gap-5 lg:w-1/2 max-md:w-full">
                    {% set today = date() %}
                    {% set birthdate = actor.birthdate %}
                    {% set age = today.diff(birthdate).y %}
                    <p class="text-lg urbanist color-primary font-semibold"><span class='color-tertiary font-semibold'>Age :</span> {{age}} ans ({{actor.birthdate|date('d/m/Y')}})  </p>
                    <p class="text-lg urbanist color-primary"><span class="font-semibold color-tertiary">Biographie:</span> {{actor.biography|nl2br|raw}}</p>
                    <p class="text-lg urbanist color-primary">
                        Rôles : 
                    {% for item in films %}
                        <a href="{{ path('medias_show', { slug: item.slug }) }}" class="text-lg urbanist color-tertiary hover:underline-offset-4 hover:underline hover:text-purple-500">
                            {{ item.title }}{% if not loop.last %}, {% endif %}
                        </a>
                    {% endfor %}

                    </p>
                </div>
            </div>


    </div>
</div>
{% endblock %}
