{% extends 'account/notifications/layout.html.twig' %}

{% block title %}Mes notifications{% endblock %}

{% block notifications_content %}

    {% if notifications is empty %}
        <p class="text-gray-500 text-center text-lg urbanist">Vous n'avez aucune notification ici.</p>
    {% else %}
       {% set currentRoute = app.request.attributes.get('_route') %}
        {% set route = currentRoute == 'notifications_follows' ? 'mark_follows_read' : 
                       currentRoute == 'notifications_reviews' ? 'mark_reviews_read' : 
                       currentRoute == 'notifications_comments' ? 'mark_comments_read' : 
                       currentRoute == 'notifications_likes' ? 'mark_likes_read' : 
                       currentRoute == 'notifications_index' ? 'mark_notifications_read' : null
        %}

        {# Vérifier si la route est définie #}
        <div class="flex gap-3 items-center flex-wrap my-2">
        {% if route %}
            <form action="{{ path(route) }}" method="POST">
                <button type="submit" class="bg-purple-500 text-white px-4 py-2 text-lg urbanist rounded hover:bg-purple-600">Marquer toutes comme lues</button>
            </form>
        {% endif %}
       <button onclick="openDeleteModal('deleteModal', 'deleteForm', '{{path('delete_all_notifications')}}', 'Effacer', 'Annuler')" class="bg-red-500 text-lg urbanist  text-white py-2 px-4 rounded hover:bg-red-600">Effacer toutes les notifications</button>
        
        </div>
        <div class="grid  max-md:grid-cols-1 lg:grid-cols-2 gap-4 mt-8">
            {% for notification in notifications %}
            
           
                <div class="{% if not notification.isRead %}bg-[#a051de] bg-opacity-30 border-l-4 border-[#a051de]{% else %}bg-white{% endif %} shadow-md rounded-lg p-4 flex items-start">
                    <div class="flex-shrink-0">
                        {% if notification.user.avatar %}
                             <img class="h-10 w-10 rounded-full object-cover" src="/uploads/{{ notification.user.avatar }}" alt="{{ notification.user.username }}">
                        {% else %}
                            <img class="h-10 w-10 rounded-full" src="http://placehold.it/64x64" alt="{{ notification.user.username }}">
                        
                        {% endif %}
                    </div>
                    <div class="ml-4 relative flex-grow">
                        <p class="text-lg w-[85%] urbanist font-medium text-gray-900">
                            <a href="{{ path('user_show', {'slug': notification.user.slug}) }}" class="text-lg urbanist font-semibold color-tertiary">{{ notification.user.username }}</a>
                            {% if notification.type == 'follow' %}
                                a commencé à vous suivre.
                            {% elseif notification.type == 'follow_request' %}
                                  a demandé à vous suivre. <br> <a href="{{ path('follow_requests') }}" class="text-blue-500 hover:underline">Voir les demandes</a>
                     
                            {% elseif notification.type == 'like' %}
                                a aimé votre review.
                            {% elseif notification.type == 'comment' %}
                                a commenté votre review.
                            {% elseif notification.type == 'reply' and notification.review is not null %}
                                a répondu à votre commentaire sur la review .
                                <a href="{{ path('reviews_show', {'slug': notification.review.slug}) }}" class="text-blue-500 hover:underline">Voir la review</a>
                            {% elseif notification.type == 'reply' and notification.news is not null %}
                                a répondu à votre commentaire sur l'actualité
                                <a href="{{ path('news_show', {'slug': notification.news.slug}) }}" class="text-blue-500 hover:underline">Voir l'actu</a>
                            {% elseif notification.type == 'newsLike' or notification.type == 'likeComment' %}
                                a aimé votre commentaire.
                            {% elseif notification.type == 'newsComment' %}
                                a commenté votre article.
                            {% elseif notification.type == 'review' %}
                                a sorti une review <br>
                                <a href="{{ path('reviews_show', {'slug': notification.review.slug}) }}" class="text-blue-500 hover:underline">Voir la review</a>
                            {% else %}
                                a une nouvelle notification.
                            {% endif %}
                        </p>
                           <div class="ml-auto absolute top-0 right-2">
                                   <a href="{{ path('delete_notification', {'id': notification.id}) }}" class="text-red-500 hover:text-red-700" data-tippy-content="Effacer cette notification">
                                       <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                           <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                       </svg>
                                   </a>
                               </div>

                        {% set now = "now"|date("U") %}
                        {% set notificationTime = notification.createdAt|date("U") %}
                        {% set diff = now - notificationTime %}

                        <p class="text-md urbanist text-gray-500">
                            {% if diff < 60 %}
                                {{ diff }} seconde{{ diff > 1 ? 's' : '' }} 
                            {% elseif diff < 3600 %}
                                {% set minutes = (diff / 60)|round(0, 'floor') %}
                                {{ minutes }} minute{{ minutes > 1 ? 's' : '' }} 
                            {% elseif diff < 86400 %}
                                {% set hours = (diff / 3600)|round(0, 'floor') %}
                                {{ hours }} heure{{ hours > 1 ? 's' : '' }} 
                            {% elseif diff < 604800 %}
                                {% set days = (diff / 86400)|round(0, 'floor') %}
                                {{ days }} jour{{ days > 1 ? 's' : '' }} 
                            {% elseif diff < 2419200 %}
                                {% set weeks = (diff / 604800)|round(0, 'floor') %}
                                {{ weeks }} semaine{{ weeks > 1 ? 's' : '' }} 
                            {% elseif diff < 29030400 %}
                                {% set months = (diff / 2419200)|round(0, 'floor') %}
                                {{ months }} mois 
                            {% else %}
                                {{ notification.createdAt|date('d M Y H:i') }}
                            {% endif %}
                        </p>

                        {% if notification.type in ['like', 'comment'] %}
                            <a href="{{ path('reviews_show', {'slug': notification.review.slug}) }}" class="text-md urbanist text-blue-500 hover:underline">Voir la review</a>
                        {% elseif notification.type in ['newsLike', 'newsComment'] %}
                            <a href="{{ path('news_show', {'slug': notification.news.slug}) }}" class="text-md urbanist text-blue-500 hover:underline">Voir l'article</a>
                        {% endif %}
                    </div>
               
                </div>
            {% endfor %}
        </div>

    <div class="pagination">
        {{ knp_pagination_render(notifications) }}
    </div>


    {% endif %}

    	{% include '/partials/_delete_modal.html.twig' with {
		modal_id: 'deleteModal',
		form_id: 'deleteForm',
		title: 'Confirmation de suppression',
		message: 'Êtes-vous sûr de vouloir supprimer toutes les notifications ? Cette action est irréversible.',
		action_url: '#',  
		confirm_text: 'Supprimer',
		cancel_text: 'Annuler'
	} %}

{% endblock %}
