{% extends "base.html.twig" %}

{% block title %}
	Modification d'une actualité
{% endblock %}

{% form_theme myForm _self %}

{% block body %}
	<div class="min-h-screen bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
		<div class="max-w-3xl mx-auto">
			<div class="bg-white shadow-md rounded-lg overflow-hidden">
				<div class="bg-gray-800 px-4 py-5 sm:px-6">
					<h1 class="text-2xl font-bold text-white text-center">Modification d'une actualité</h1>
				</div>
				<div class="px-4 py-5 sm:p-6">
					{{ form_start(myForm, {'attr': {'class': 'space-y-6'}}) }}
					{{ form_widget(myForm) }}
					<div class="flex justify-between items-center mt-6">
						<button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
							Enregistrer
						</button>

							<div>
							<a href="{{path('news_img', {'slug': news.slug})}}" type="button" class="px-4 py-2 bg-orange-600 text-white rounded-md hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2">
								Modifier la cover 
							</a>
						</div>
						<div>
						    <button onclick="openDeleteModal('deleteModal', 'deleteForm', '{{ path('news_delete', { 'slug': news.slug }) }}', 'Supprimer', 'Annuler')" class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-600">Supprimer</button>
						</div>
					</div>
					{{ form_end(myForm) }}
				</div>
			</div>
		</div>
	</div>
{% include '/partials/_delete_modal.html.twig' with {
    modal_id: 'deleteModal',
    form_id: 'deleteForm',
    title: 'Confirmation de suppression',
    message: 'Êtes-vous sûr de vouloir supprimer cette actualité ? Cette action est irréversible.',
    action_url: '#',  
    confirm_text: 'Supprimer',
    cancel_text: 'Annuler'
} %}
{% endblock %}

{% block javascripts %}
<script src="https://cdn.tiny.cloud/1/woaocyzfgvhd1m78wd2jna73doxq2a6b3cudjgrl66uluh6f/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    language: "fr_FR",
  content_style:
    "@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap'); body { font-family: Urbanist; }",
    width: '100%',
    height: 500
  });
</script>
{% endblock %}