{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('homeStyle') }}
{% endblock %}

{% block body %}
	<!-- Swiper Container -->
	<div class="swiper">
		<!-- Swiper Wrapper -->
		<div class="swiper-wrapper">
			{% for media in medias %}
				<!-- Swiper Slide -->
				<div class="swiper-slide">
					<div class="slide" id="home" style="background-image: url('/uploads/{{ media.cover }}')">
						<div class="shadow"></div>
						<div class="wrapper">
							<div
								class="jumbotron sm:w-12/12 md:w-6/12 z-20">
								<!-- Item du dessus -->
								<div
									class="jumbotron_infos_secondary text-lg object uppercase color-secondary flex gap-4">
									<!-- Note -->
									<div class="items_info rating pr-4 flex items-center gap-1">
										<i class="fa-solid fa-star"></i>
										<span class="text-xl object color-secondary">4.5</span>
									</div>
									<!-- Durée -->
									<div class="items_info rating pr-4 flex items-center gap-1">
										{% if media.duration matches '/^[0-9]+ saison(s)?$/' %}
											<p>
												<span class="color-tertiary">{{ media.duration|split(' ')[0] }}</span>
												{{ media.duration|split(' ')[1] }}
											</p>
										{% elseif media.duration matches '/^[0-9]+h[0-9]+$/' %}
											<p>
												<span class="color-secondary">{{ media.duration|split('h')[0] }}<span class="color-tertiary">
														h
													</span>
												</span>
												{{ media.duration|split('h')[1] }}
											</p>
										{% else %}
											<p>{{ media.duration }}</p>
										{% endif %}

									</div>
									<!-- Catégories & genres -->
									<div class="items_info rating pr-4 flex items-center gap-1 color-tertiary ">
										<p>{{media.type}}
											& genres</p>
									</div>
								</div>
								<!-- Info principale -->
								<div class="jumbotron_content">
									<div class="jumbotron_content_heading flex-col">
										<h3 class="display-lg object uppercase color-secondary">{{media.title}}</h3>
										<p class="text-lg urbanist color-secondary">{{ media.synopsis|slice(0, 160) ~ '...' }}</p>
									</div>
									<div class="jumbotron_actions flex flex-wrap">
										{% include 'partials/_trailer_button.html.twig' with { trailerUrl: media.trailer } %}
										<a href="#" class="text-lg urbanist color-tertiary bg-secondary items-center button_details flex gap-2">
											<i class="fa-solid fa-plus"></i>
											<span>Voir les détails</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="swiper-pagination"></div>
	</div>


	{% set cards = [
  {
    icon: 'slideshow',
    counting: stats.allMedias is empty ? 0 : stats.allMedias,
    title: 'Films & Séries',
    paragraph: 'Plongez dans la magie du cinéma à travers les reviews de notre communauté.',
    button_text: 'Découvrez les films & séries',
    button_link: '#'
  },
  {
    icon: 'full_coverage',
    counting: 130,
    title: 'Actualités',
    paragraph: 'Restez informé des dernières sorties et des dernières rumeurs du monde du cinéma.',
    button_text: 'Découvrez les news',
    button_link: '#'
  },
  {
    icon: 'groups',
    counting: 100, 
    title: 'Communauté',
    paragraph: 'Rejoignez une communauté passionnée prête à vous guider dans vos découvertes cinématographiques',
    button_text: 'Rejoignez-nous',
    button_link: '#'
  }
] %}


	<div class="slide relative" id="presentation">
		<div class="wrapper">
		{# heading our team#}
			<div class="heading flex flex-col items-center">
				<h1 class="display-xl object text-center w-8/12 uppercase  leading-tight">
					<span class="lasso color-secondary my">MOVIEREV</span>   , Le cinéma à portée de clic !
				</h1>

				<p class="display-sm urbanist text-center  w-8/12" data-aos="fade-up" data-aos-duration="170" >Nous vous faisons découvrir l'univers du cinéma grâce à une communauté soudée et passionnée.</p>
				<div class="team_discover">
					<div class="team-head overflow-hidden w-full flex justify-center">
					{#Notre équipe#}
						<div class="roundPic" data-aos="fade-left" data-aos-duration="300" data-aos-delay="100" ></div>
						<div class="roundPic" data-aos="fade-left" data-aos-duration="300" data-aos-delay="300" ></div>
						<div class="roundPic" data-aos="fade-left" data-aos-duration="300" data-aos-delay="600" ></div>
						<div class="roundPic" data-aos="fade-left" data-aos-duration="300" data-aos-delay="900" ></div>
					</div>

				
					<a href="{{path('about')}}"   class="text-xl urbanist flex items-center rounded-full border-purple-400 border-2 border-solid gap-1 color-tertiary">
						Découvrez notre équipe 
						<span class="material-symbols-outlined color-tertiary">
						arrow_forward
						</span> 
					</a>
					
				
				</div>
			</div>
			{#cards#}
			<div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 gap-6 w-full">
				{% for card in cards %}

					<div class="cards_stats" data-aos="zoom-in" data-aos-delay="{{ loop.index0 * 200 }}" data-aos-duration="170"  id={{card.title}}>
						<div class="cards_stats_high">
							<div class="heading_card">
								<div class="square_icons">
									<span class="material-symbols-outlined">
									{{ card.icon }}
									</span>
								</div>
								<h4 class="display-md object uppercase color-primary">
									<span class="color-tertiary">
									{% if card.title == 'Communauté' %}
									
										<span class="counting">{{ card.counting }}</span><span>% </span>
									{% else %}
										<span>+ </span><span class="counting">{{ card.counting }}</span>
									{% endif %}
									</span>
									<br>
									{{ card.title }}
								</h4>
							</div>
							<p class="text-lg urbanist">
								{{ card.paragraph }}
							</p>
						</div>
						<div class="button_card">
							<a href="{{ card.button_link }}" class="text-lg urbanist flex gap-1 items-center">
							{{ card.button_text }}
							<span class="material-symbols-outlined">
								arrow_outward
							</span>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
	{% set values = [
    {
        icon: '/images/icon1.png',
        title: 'Passion',
        description: "Au cœur de MOVIEREV, la passion pour le cinéma est ce qui nous rassemble. Chaque membre de notre communauté partage un amour profond pour le septième art, que ce soit à travers des critiques réfléchies ou des discussions animées.  <span class='urbanist font-semibold color-tertiary'>C'est cette passion qui nous pousse à explorer, partager et célébrer ensemble l'univers cinématographique.</span>"
    },
    {
        icon: '/images/icon2.png',
        title: 'Authenticité',
        description: "MOVIEREV valorise l'authenticité dans chaque avis et échange. Nous croyons en l'importance  <span class='urbanist font-semibold color-tertiary'>des critiques sincères et des opinions honnêtes </span> , qui permettent à notre communauté de rester fidèle à elle-même et de bâtir des liens basés sur la confiance et le respect mutuel."
    },
    {
        icon: '/images/icon3.png',
        title: 'Innovation',
        description: "L'innovation est au cœur de l'expérience MOVIEREV. Nous cherchons constamment à améliorer notre plateforme, en intégrant <span class='urbanist font-semibold color-tertiary'>les dernières actualités</span> et en écoutant les retours de notre communauté pour offrir une expérience unique et toujours plus immersive du monde du cinéma."
    }
] %}

			{#Nos valeurs#}
			<div class="our_values">
				<h2 class="display-md object uppercase annotation w-fit">Nos valeurs</h2>
				<div class="grid  sm:grid-cols-1 lg:grid-cols-3 gap-6 w-full">
					{% for value in values %}

						<div class="our_values_content" data-aos="zoom-in" data-aos-delay="{{ loop.index0 * 300 }}" data-aos-duration="170" >
							<div class="our_values_content_img max-sm:flex max-sm:justify-center"><img src="{{ value.icon }}" alt="Icones 3d"></div>
							<h4 class="display-sm urbanist uppercase font-semibold color-tertiary max-sm:text-center">{{ value.title }}</h4>
							<p class="text-md urbanist">{{ value.description|raw }}</p>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="graphics_love flex max-sm:flex-col lg:flex-row">



				<div class="bubble bubble1 display-2xl object color-secondary uppercase" data-aos="fade-up" data-aos-duration="500" >we</div>
				<div class="bubble bubble2 display-2xl object color-secondary uppercase" data-aos="fade-down" data-aos-duration="500" data-aos-delay="300" >Love</div>
				<div class="bubble bubble3 display-2xl object color-secondary uppercase" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600" >
					<span class="material-symbols-outlined">
					arrow_right_alt
					</span>
				</div>

				<div class="bubble bubble4 display-2xl object color-secondary uppercase" data-aos="fade-down" data-aos-duration="500" data-aos-delay="900" >Cinema</div>
			</div>

		</div>
	</div>

	<div class="slide"></div>
{% include 'partials/_trailer_modal.html.twig' %}

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('sliderHomeJS') }}

	

  <script>
document.addEventListener('DOMContentLoaded', function () {
    const counters = document.querySelectorAll('.counting');

    // Fonction pour réinitialiser le compteur
    function resetCounter(counter) {
        counter.innerText = '0'; 
    }

    // Fonction pour mettre à jour le compteur
    function updateCount(counter) {
        const isPercentage = counter.innerText.includes('%');
        let target = parseInt(counter.getAttribute('data-count'));

        if (isNaN(target)) {
            target = 0; // Définit une valeur par défaut si la conversion échoue
        }

        const increment = target / 200; //la vitesse 
        let count = 0;

        const step = () => {
            count += increment;
            if (count < target) {
                counter.innerText = `${Math.ceil(count)}`;
                requestAnimationFrame(step);
            } else {
                counter.innerText = `${target}`;
            }
        };

        step();
    }

    // Observer d'intersection pour réagir lorsque les éléments deviennent visibles
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                const counter = entry.target;
                resetCounter(counter);
                updateCount(counter);
            }
        });
    }, { threshold: 0.5 }); 

    // Observez chaque compteur
    counters.forEach(counter => {
        counter.setAttribute('data-count', counter.innerText.replace('%', '').replace('+', ''));
        counter.innerText = '0'; // Initialise le compteur à zéro
        observer.observe(counter);
    });
});








</script>


{% endblock %}
