{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('homeStyle') }}
{% endblock %}

{% block body %}
	<!-- Swiper Container -->
	<div class="swiper">
		<!-- Swiper Wrapper -->
		<div class="swiper-wrapper">
			{% for media in medias %}
				<!-- Swiper Slide -->
				<div class="swiper-slide">
					<div class="slide" id="home" style="background-image: url('/uploads/{{ media.cover }}')">
						<div class="shadow"></div>
						<div class="wrapper">
							<div
								class="jumbotron sm:w-12/12 md:w-6/12 z-20">
								<!-- Item du dessus -->
								<div
									class="jumbotron_infos_secondary text-lg object uppercase color-secondary flex gap-4">
									<!-- Note -->
									<div class="items_info rating pr-4 flex items-center gap-1 color-tertiary">
										<i class="fa-solid fa-star color-tertiary"></i>
										<span class="text-xl object color-secondary">{{media.getAvgRatings()}}</span>
									</div>
									<!-- Durée -->
									<div class="items_info rating pr-4 flex items-center gap-1">
										{% if media.duration matches '/^[0-9]+ saison(s)?$/' %}
											<p>
												<span class="color-tertiary">{{ media.duration|split(' ')[0] }}</span>
												{{ media.duration|split(' ')[1] }}
											</p>
										{% elseif media.duration matches '/^[0-9]+h[0-9]+$/' %}
											<p>
												<span class="color-secondary">{{ media.duration|split('h')[0] }}<span class="color-tertiary">
														h
													</span>
												</span>
												{{ media.duration|split('h')[1] }}
											</p>
										{% else %}
											<p>{{ media.duration }}</p>
										{% endif %}

									</div>
									<!-- Catégories & genres -->
									<div class="items_info rating pr-4 flex items-center gap-1 color-tertiary ">
										<p>{{media.type}}
										&
										{% for genre in media.getGenres() %}
										<span class="color-tertiary">{{ genre.name }}</span>
											{% if not loop.last %} • {% endif %}
										{% endfor %}
									</div>
								</div>
								<!-- Info principale -->
								<div class="jumbotron_content">
									<div class="jumbotron_content_heading flex-col">
										<h3 class="display-lg object uppercase color-secondary">{{media.title}}</h3>
										<p class="text-lg urbanist color-secondary">{{ media.synopsis|slice(0, 160) ~ '...' }}</p>
									</div>
									<div class="jumbotron_actions flex flex-wrap">
										{% include 'partials/_trailer_button.html.twig' with { trailerUrl: media.trailer } %}
										<a href="{{ path('medias_show', {'slug': media.slug}) }}" class="text-lg urbanist color-tertiary bg-secondary items-center button_details flex gap-2">
											<i class="fa-solid fa-plus"></i>
											<span>Voir les détails</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="swiper-pagination"></div>
	</div>
	<div class="shadowWhite"></div>

	{#Tableau de cartes #}
	{% set cards = [
		{
			icon: 'slideshow',
			counting: stats.allMedias is empty ? 0 : stats.allMedias,
			title: 'Films & Séries',
			paragraph: 'Plongez dans la magie du cinéma à travers les reviews de notre communauté.',
			button_text: 'Découvrez les films & séries',
			button_link: path('medias')
		},
		{
			icon: 'full_coverage',
			counting: stats.allNews is empty ? 0 : stats.allNews,
			title: 'Actualités',
			paragraph: 'Restez informé des dernières sorties et des dernières rumeurs du monde du cinéma.',
			button_text: 'Découvrez les news',
			button_link: path('news_index')  
		},
		{
			icon: 'groups',
			counting: 100, 
			title: 'Communauté',
			paragraph: 'Rejoignez une communauté passionnée prête à vous guider dans vos découvertes cinématographiques',
			button_text: 'Rejoignez-nous',
			button_link: path('account_register')
		}
	] %}

	<div class="slide relative" id="presentation">
		<div class="wrapper">
		{# heading our team#}
			<div class="heading flex flex-col items-center">
				<h1 class="display-xl object text-center w-8/12 uppercase  leading-tight">
					<span class="lasso color-secondary my">MOVIEREV</span>   , Le cinéma à portée de clic !
				</h1>

				<p class="display-sm urbanist text-center  w-8/12" data-aos="fade-up" data-aos-duration="170" >Nous vous faisons découvrir l'univers du cinéma grâce à une communauté soudée et passionnée.</p>
				<div class="team_discover">
					<div class="team-head overflow-hidden w-full flex justify-center">
					{#Notre équipe#}
					{% for team in teams %}
						<div class="roundPic p-relative overflow-hidden" data-aos="fade-left" data-aos-duration="300" data-aos-delay="{{ loop.index0 * 300 }}">
							<img src="/uploads/{{team.avatar}}" class="w-full h-full object-cover" alt="Photo de profil de {{team.fullName}}">
						</div>
					{% endfor %}
					</div>

				
					<a href="{{path('about')}}"   class="text-xl urbanist flex items-center rounded-full border-purple-400 border-2 border-solid gap-1 color-tertiary">
						Découvrez notre équipe 
						<span class="material-symbols-outlined color-tertiary">
						arrow_forward
						</span> 
					</a>
					
				
				</div>
			</div>
			{#cards#}
			<div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-3 gap-6 w-full">
				{% for card in cards %}
					<div class="cards_stats" data-aos="zoom-in" data-aos-delay="{{ loop.index0 * 200 }}" data-aos-duration="170"  id={{card.title}}>
						<div class="cards_stats_high">
							<div class="heading_card">
								<div class="square_icons">
									<span class="material-symbols-outlined">
									{{ card.icon }}
									</span>
								</div>
								<h4 class="display-md object uppercase color-primary">
									<span class="color-tertiary">
									{% if card.title == 'Communauté' %}
									
										<span class="counting">{{ card.counting }}</span><span>% </span>
									{% else %}
										<span>+ </span><span class="counting">{{ card.counting }}</span>
									{% endif %}
									</span>
									<br>
									{{ card.title }}
								</h4>
							</div>
							<p class="text-lg urbanist">
								{{ card.paragraph }}
							</p>
						</div>
						{#boutons actions#}
						<div class="w-full flex justify-end">
							{% include "/partials/_button.html.twig" with {"text": card.button_text, "href": card.button_link} %}
						</div>
					</div>
				{% endfor %}
			</div>
			{#tableau afficher nos valeurs#}
			{% set values = [
				{
					icon: '/images/icon1.png',
					title: 'Passion',
					description: "Au cœur de MOVIEREV, la passion pour le cinéma est ce qui nous rassemble. Chaque membre de notre communauté partage un amour profond pour le septième art, que ce soit à travers des critiques réfléchies ou des discussions animées.  <span class='urbanist font-semibold color-tertiary'>C'est cette passion qui nous pousse à explorer, partager et célébrer ensemble l'univers cinématographique.</span>"
				},
				{
					icon: '/images/icon2.png',
					title: 'Authenticité',
					description: "MOVIEREV valorise l'authenticité dans chaque avis et échange. Nous croyons en l'importance  <span class='urbanist font-semibold color-tertiary'>des critiques sincères et des opinions honnêtes </span> , qui permettent à notre communauté de rester fidèle à elle-même et de bâtir des liens basés sur la confiance et le respect mutuel."
				},
				{
					icon: '/images/icon3.png',
					title: 'Innovation',
					description: "L'innovation est au cœur de l'expérience MOVIEREV. Nous cherchons constamment à améliorer notre plateforme, en intégrant <span class='urbanist font-semibold color-tertiary'>les dernières actualités</span> et en écoutant les retours de notre communauté pour offrir une expérience unique et toujours plus immersive du monde du cinéma."
				}
			] %}
			{#Nos valeurs#}
			<div class="our_values">
				<h2 class="display-md object uppercase annotation w-fit">Nos valeurs</h2>
				<div class="grid  sm:grid-cols-1 lg:grid-cols-3 gap-6 w-full">
					{% for value in values %}

						<div class="our_values_content" data-aos="zoom-in" data-aos-delay="{{ loop.index0 * 300 }}" data-aos-duration="170" >
							<div class="our_values_content_img max-sm:flex max-sm:justify-center"><img src="{{ value.icon }}" alt="Icones 3d"></div>
							<h4 class="display-sm urbanist uppercase font-semibold color-tertiary max-sm:text-center">{{ value.title }}</h4>
							<p class="text-md urbanist">{{ value.description|raw }}</p>
						</div>
					{% endfor %}
				</div>
			</div>

			{#Sections graphique we love cinema#}
			<div class="graphics_love flex max-sm:flex-col lg:flex-row">
				<div class="bubble bubble1 display-2xl object color-secondary uppercase" data-aos="fade-up" data-aos-duration="500" >we</div>
				<div class="bubble bubble2 display-2xl object color-secondary uppercase" data-aos="fade-down" data-aos-duration="500" data-aos-delay="300" >Love</div>
				<div class="bubble bubble3 display-2xl object color-secondary uppercase" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600" >
					<span class="material-symbols-outlined">
					arrow_right_alt
					</span>
				</div>

				<div class="bubble bubble4 display-2xl object color-secondary uppercase" data-aos="fade-down" data-aos-duration="500" data-aos-delay="900" >Cinema</div>
			</div>
		</div>

	</div>

	{% include "partials/_sliderReviews.html.twig" %}
	
	{% include "partials/_slider_news.html.twig" %}

	{% set accordions = [
    {
        'id': 1,
        'icon': 'psychology_alt',
        'question': 'Qui peut poster des reviews?',
        'answer': 'Absolument tout le monde, il vous suffit juste de vous rendre sur la page du film et de cliquer sur "Ajouter une review".'
    },
    {
        'id': 2,
        'icon': 'movie',
        'question': 'Comment ajouter un film?',
        'answer': 'Pour ajouter un film, rendez-vous sur la page d\'ajout de film et remplissez le formulaire.'
    },
    {
        'id': 3,
        'icon': 'list',
        'question': 'Comment créer une liste?',
        'answer': 'Rendez-vous dans l\'onglet "mes listes" de votre profil et appuyez sur créer une liste'
    },
    {
        'id': 4,
        'icon': 'light',
        'question': 'Comment se tenir informé?',
        'answer': 'Rendez-vous dans vos notifications pour ne rien manquer.'
    },
] %}


	<div class="wrapper faq flex flex-wrap justify-between" id="faq">
		<div class="faq_left max-md:w-full lg:w-6/12 flex flex-col gap-6 h-full">
			<h2 class="display-md object uppercase"data-aos="fade-right" data-aos-duration="500" >Foire<span class="color-tertiary"> aux </span>questions</h2>
			<div data-aos="zoom-in" class="flex flex-col gap-5" data-aos-duration="500" >
				{% for accordion in accordions %}
				<div class="h-fit">
				<div class="rectangle py-2 px-5 bg-secondary">
					<button onclick="toggleAccordion({{ accordion.id }})" class="w-full flex justify-between items-center py-5 text-slate-800">
						<span class="text-xl flex gap-2 urbanist font-semibold color-tertiary">
							<span class="material-symbols-outlined">{{ accordion.icon }}</span> {{ accordion.question }}
						</span>
						<span id="icon-{{ accordion.id }}" class="w-[40px] h-[40px] rounded-full bg-tertiary flex justify-center items-center text-white transition-transform duration-300">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white" class="w-6 h-6">
								<path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
							</svg>
						</span>
					</button>
					<div id="content-{{ accordion.id }}" class="max-h-0 overflow-hidden transition-all duration-300 ease-in-out">
						<div class="pb-5 text-lg urbanist text-slate-500">
							{{ accordion.answer }}
						</div>
					</div>
				
				</div>
				
				</div>
				{% endfor %}
			
			</div>


		</div>
		
			<img src="/images/accordpic.png" alt="image d'un film dans la section accordéon" class="max-md:w-full h-fit lg:w-5/12">
		
	</div>
	{#Modal pour afficher le trailer#}
	{% include 'partials/_trailer_modal.html.twig' %}
	<div class="w-full h-[600px] bg-tertiary"></div>


{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('sliderHomeJS') }}
  <script>
	document.addEventListener('DOMContentLoaded', function () {
		const counters = document.querySelectorAll('.counting');

		// Fonction pour réinitialiser le compteur
		function resetCounter(counter) {
			counter.innerText = '0'; 
		}

		// Fonction pour mettre à jour le compteur
		function updateCount(counter) {
			const isPercentage = counter.innerText.includes('%');
			let target = parseInt(counter.getAttribute('data-count'));

			if (isNaN(target)) {
				target = 0; // Définit une valeur par défaut si la conversion échoue
			}

			const increment = target / 200; //la vitesse 
			let count = 0;

			const step = () => {
				count += increment;
				if (count < target) {
					counter.innerText = `${Math.ceil(count)}`;
					requestAnimationFrame(step);
				} else {
					counter.innerText = `${target}`;
				}
			};

			step();
		}

		// Observer d'intersection pour réagir lorsque les éléments deviennent visibles
		const observer = new IntersectionObserver((entries) => {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					const counter = entry.target;
					resetCounter(counter);
					updateCount(counter);
				}
			});
		}, { threshold: 0.5 }); 

		// Observez chaque compteur
		counters.forEach(counter => {
			counter.setAttribute('data-count', counter.innerText.replace('%', '').replace('+', ''));
			counter.innerText = '0'; // Initialise le compteur à zéro
			observer.observe(counter);
		});
	});


  function toggleAccordion(index) {
    const content = document.getElementById(`content-${index}`);
    const icon = document.getElementById(`icon-${index}`);
 
    // SVG for Minus icon
    const minusSVG = `
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white" class="text-white w-6 h-6">
        <path d="M3.75 7.25a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Z" />
      </svg>
    `;
 
    // SVG for Plus icon
    const plusSVG = `
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white" class="text-white w-6 h-6">
        <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
      </svg>
    `;
 
    // Toggle the content's max-height for smooth opening and closing
    if (content.style.maxHeight && content.style.maxHeight !== '0px') {
      content.style.maxHeight = '0';
      icon.innerHTML = plusSVG;
    } else {
      content.style.maxHeight = content.scrollHeight + 'px';
      icon.innerHTML = minusSVG;
    }
  }


 </script>

{% endblock %}
